<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>5x5 Photo Grid</title>
    <link rel="stylesheet" href= "Howact_style.css">
    
</head>
<body>
    <div id="best_dust" data-number =" 123 "></div>
   
    <div class="photo-grid">
        <div class="photo-item" id="환기 가능">
            <img src=https://media1.tenor.com/m/JzCyICxAbYIAAAAC/open-fenster.gif alt="사진이 로드되지 않았습니다." class="fixed-size-img">
            <p id="description0">설명이 로드되지 않았습니다.</p>
        </div>
        <div class="photo-item" id="환기 불가능">
            <img src=https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExem93bjV6eXRybWx1dnFmbHkwM2U3N3oxaG5lNHdoN3JvbXN6b2I1ciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3o6MbabII0AotIzSWk/giphy.gif alt="사진이 로드되지 않았습니다."  class="fixed-size-img">
            <p id="description1">설명이 로드되지 않았습니다.</p>
         </div>
        <div class="photo-item" id="가벼운 운동 가능">
            <img src=https://media1.giphy.com/media/3ohs7J1ZmzXZmj5o6A/giphy.gif?cid=790b7611ayplbpnwhhf9ydpha8qxb72czgo2cmubcwfar4l9&ep=v1_gifs_search&rid=giphy.gif&ct=g alt="사진이 로드되지 않았습니다."  class="fixed-size-img">
            <p id="description2">설명이 로드되지 않았습니다.</p>
        </div>
        <div class="photo-item" id="가벼운 운동 불가능">
            <img src=https://i.namu.wiki/i/FgRvYsirraMEiQVb582pfenhZBYTUC6m4N4eQbzHOwr09jUKZMkbRhry-t4jHDUw9sPOCKfRWCgu6ubeBU2GmQ.gif alt="사진이 로드되지 않았습니다."  class="fixed-size-img">
            <p id="description3">설명이 로드되지 않았습니다.</p>
        </div>
        <div class="photo-item" id="마스크 및 보호안경 쓰기">
            <img src=https://jjalbang.today/files/jjalbox/2022/05/20220526_628f38289566a.gif alt="사진이 로드되지 않았습니다."  class="fixed-size-img">
            <p id="description4">설명이 로드되지 않았습니다.</p>
        </div>
        <div class="photo-item" id="가급적 실내활동">
            <img src=https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExZjlybjIxNWliazZpZDV3MWkzcWZ2ZjUzd3BwZnN5OXdhdnRudHNqeCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/N1n3RFwTVXWM0Dpj3d/giphy.gif alt="사진이 로드되지 않았습니다."  class="fixed-size-img">
            <p id="description5">설명이 로드되지 않았습니다.</p>
        </div> 
        <div class="photo-item" id="야외 바베큐 가능">
            <img src=https://media2.giphy.com/media/TiVdW8hqXSRducil5X/giphy.webp?cid=790b7611sc4dbaxy41r6ibc9qrs5gxd0mgfk9b57rh1abexq&ep=v1_gifs_search&rid=giphy.webp&ct=g alt="사진이 로드되지 않았습니다."  class="fixed-size-img">
            <p id="description6">설명이 로드되지 않았습니다.</p>
        </div> 
        <div class="photo-item" id="야외 바베큐 불가능">
            <img src=https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNTdsNzBlemZrdXl5NXpycmxpYTJtdzk2b3JiNnd1bnV6eTgwcmJjdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/OMeGDxdAsMPzW/giphy.gif alt="사진이 로드되지 않았습니다."  class="fixed-size-img">
            <p id="description7">설명이 로드되지 않았습니다.</p>
        </div> 
        <div class="photo-item" id="일광건조 가능">
            <img src=https://media1.giphy.com/media/ln4bohPvHhwgo/giphy.webp?cid=ecf05e47b83xdt4t7689xz2v55n8ulk3vvt53w9wloz5w47b&ep=v1_gifs_search&rid=giphy.webp&ct=g alt="사진이 로드되지 않았습니다."  class="fixed-size-img">
            <p id="description8">설명이 로드되지 않았습니다.</p>
        </div> 
        <div class="photo-item" id="일광건조 불가능">
            <img src=https://search.pstatic.net/sunny/?src=https%3A%2F%2Fi2.ruliweb.com%2Fimg%2F21%2F07%2F22%2F17acc2f3c45531408.png&type=sc960_832 alt="사진이 로드되지 않았습니다."  class="fixed-size-img">
            <p id="description9">설명이 로드되지 않았습니다.</p>
        </div> 
        <div class="photo-item" id="야외 바둑 장기 가능">
            <img src=https://upload3.inven.co.kr/upload/2020/09/25/bbs/i015977547508.gif alt="사진이 로드되지 않았습니다."  class="fixed-size-img">
            <p id="description10">설명이 로드되지 않았습니다.</p>
        </div> 
        <div class="photo-item" id="야외 바둑 장기 불가능">
            <img src=https://38.media.tumblr.com/tumblr_ly3f69WNmh1qmqteco1_500.gif alt="사진이 로드되지 않았습니다."  class="fixed-size-img">
            <p id="description11">설명이 로드되지 않았습니다.</p>
        </div> 
        
    </div>
    <script>
            window.onload = function() {
            // div 요소에서 data-number 속성을 읽어옴
            const container = document.getElementById('best_dust');
            // 문자열을 int 형식으로 변환(10진수)
            const number = parseInt(container.getAttribute('data-number'), 10);
            // JavaScript 함수에 숫자 값을 전달
            sendNumberToFunction(number);
        }

        function sendNumberToFunction(number) {
            console.log("Received number:", number);
            const 환기가능 = document.getElementById('환기 가능');
            const 환기불가능 = document.getElementById('환기 불가능')
            const 가벼운운동가능  = document.getElementById("가벼운 운동 가능")
            const 가벼운운동불가능  = document.getElementById("가벼운 운동 불가능")
            const 마스크쓰기  = document.getElementById("마스크 및 보호안경 쓰기")
            const 실내활동  = document.getElementById("가급적 실내활동")
            const 야외바베큐가능  = document.getElementById("야외 바베큐 가능")
            const 야외바베큐불가능  = document.getElementById("야외 바베큐 불가능")
            const 일광건조가능  = document.getElementById("일광건조 가능")
            const 일광건조불가능  = document.getElementById("일광건조 불가능")
            const 야외바둑장기가능  = document.getElementById("야외 바둑 장기 가능")
            const 야외바둑장기불가능  = document.getElementById("야외 바둑 장기 불가능")
            
            // 모든 사진을 우선 숨김처리
            환기가능.style.display = 'none';
            환기불가능.style.display = 'none';
            가벼운운동가능.style.display = 'none';
            가벼운운동불가능.style.display = 'none';
            마스크쓰기.style.display = 'none';
            실내활동.style.display = 'none';
            야외바베큐가능.style.display = 'none';
            야외바베큐불가능.style.display = 'none';
            일광건조가능.style.display = 'none';
            일광건조불가능.style.display = 'none';
            야외바둑장기가능.style.display = 'none';
            야외바둑장기불가능.style.display = 'none';
            
            
            if(number >= 0 && number < 31) {
                환기가능.style.display = '';
                환기불가능.style.display = 'none';
                가벼운운동가능.style.display = '';
                가벼운운동불가능.style.display = 'none';
                마스크쓰기.style.display = 'none';
                실내활동.style.display = 'none';
                야외바베큐가능.style.display = '';
                야외바베큐불가능.style.display = 'none';
                일광건조가능.style.display = '';
                일광건조불가능.style.display = 'none';
                야외바둑장기가능.style.display = '';
                야외바둑장기불가능.style.display = 'none';
                document.getElementById('description0').innerText = "환기 가능"
                document.getElementById('description2').innerText = "가벼운 운동 가능"
                document.getElementById('description6').innerText = "야외 바베큐 가능"
                document.getElementById('description8').innerText = "일광건조 가능"
                document.getElementById('description10').innerText = "야외 바둑, 장기 가능"
            }
            else if(number >= 31 && number < 51) {
                환기가능.style.display = '';
                환기불가능.style.display = 'none';
                가벼운운동가능.style.display = '';
                가벼운운동불가능.style.display = 'none';
                마스크쓰기.style.display = 'none';
                실내활동.style.display = 'none';
                야외바베큐가능.style.display = '';
                야외바베큐불가능.style.display = 'none';
                일광건조가능.style.display = '';
                일광건조불가능.style.display = 'none';
                야외바둑장기가능.style.display = '';
                야외바둑장기불가능.style.display = 'none';
                document.getElementById('description0').innerText = "환기 가능"
                document.getElementById('description2').innerText = "가벼운 운동 가능"
                document.getElementById('description6').innerText = "야외 바베큐 가능"
                document.getElementById('description8').innerText = "일광건조 가능"
                document.getElementById('description10').innerText = "야외 바둑, 장기 가능"
            }
            else if(number >= 51  && number < 71) {
                환기가능.style.display = '';
                환기불가능.style.display = 'none';
                가벼운운동가능.style.display = '';
                가벼운운동불가능.style.display = 'none';
                마스크쓰기.style.display = 'none';
                실내활동.style.display = 'none';
                야외바베큐가능.style.display = '';
                야외바베큐불가능.style.display = 'none';
                일광건조가능.style.display = 'none';
                일광건조불가능.style.display = '';
                야외바둑장기가능.style.display = 'none';
                야외바둑장기불가능.style.display = '';
                document.getElementById('description0').innerText = "환기 가능"
                document.getElementById('description2').innerText = "가벼운 운동 가능"
                document.getElementById('description6').innerText = "야외 바베큐 가능"
                document.getElementById('description8').innerText = "일광건조 가능"
                document.getElementById('description11').innerText = "야외 바둑, 장기 불가능"
            }
            else if(number >= 71 && number < 86){
                환기가능.style.display = 'none';
                환기불가능.style.display = '';
                가벼운운동가능.style.display = 'none';
                가벼운운동불가능.style.display = '';
                마스크쓰기.style.display = 'none';
                실내활동.style.display = '';
                야외바베큐가능.style.display = 'none';
                야외바베큐불가능.style.display = '';
                일광건조가능.style.display = 'none';
                일광건조불가능.style.display = '';
                야외바둑장기가능.style.display = 'none';
                야외바둑장기불가능.style.display = '';
                document.getElementById('description1').innerText = "환기 불가능"
                document.getElementById('description3').innerText = "가벼운 운동 불가능"
                document.getElementById('description5').innerText = "가급적 실내활동 권장"
                document.getElementById('description7').innerText = "야외 바베큐 불가능"
                document.getElementById('description9').innerText = "일광건조 불가능"
                document.getElementById('description11').innerText = "야외 바둑, 장기 불가능"
            }
            else if(number >= 86 && number < 101) {
                환기가능.style.display = 'none';
                환기불가능.style.display = '';
                가벼운운동가능.style.display = 'none';
                가벼운운동불가능.style.display = '';
                마스크쓰기.style.display = '';
                실내활동.style.display = '';
                야외바베큐가능.style.display = 'none';
                야외바베큐불가능.style.display = '';
                일광건조가능.style.display = 'none';
                일광건조불가능.style.display = '';
                야외바둑장기가능.style.display = 'none';
                야외바둑장기불가능.style.display = '';
                document.getElementById('description1').innerText = "환기 불가능"
                document.getElementById('description3').innerText = "가벼운 운동 불가능"
                document.getElementById('description4').innerText = "마스크 쓰기 권장"
                document.getElementById('description5').innerText = "가급적 실내활동 권장"
                document.getElementById('description7').innerText = "야외 바베큐 불가능"
                document.getElementById('description9').innerText = "일광건조 불가능"
                document.getElementById('description11').innerText = "야외 바둑, 장기 불가능"
                
            }
            else if(number >= 101) {
                환기가능.style.display = 'none';
                환기불가능.style.display = '';
                가벼운운동가능.style.display = 'none';
                가벼운운동불가능.style.display = '';
                마스크쓰기.style.display = '';
                실내활동.style.display = '';
                야외바베큐가능.style.display = 'none';
                야외바베큐불가능.style.display = '';
                일광건조가능.style.display = 'none';
                일광건조불가능.style.display = '';
                야외바둑장기가능.style.display = 'none';
                야외바둑장기불가능.style.display = '';
                document.getElementById('description1').innerText = "환기 불가능"
                document.getElementById('description3').innerText = "가벼운 운동 불가능"
                document.getElementById('description4').innerText = "마스크 쓰기 권장"
                document.getElementById('description5').innerText = "가급적 실내활동 권장"
                document.getElementById('description7').innerText = "야외 바베큐 불가능"
                document.getElementById('description9').innerText = "일광건조 불가능"
                document.getElementById('description11').innerText = "야외 바둑, 장기 불가능"
            }
            else {
            }
        }
    </script>
</body>
</html>

