<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>제천시 미세먼지</title>
</head>

<body>

<div class="header">
<img src = "https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxNzA5MDRfMjM4%2FMDAxNTA0NTA5MDQ0Njcx.mqEEvsNSBHY6K__mtsKIMSgo5CzcFASVDUrt0IS227cg.KXnV0bC5NELtR13iiDF0PBdeuzoCFZCTPIKisSWtKsQg.JPEG.gous04%2F20170904_161014.jpg&type=a340" width=8%>
<h2>제천시 미세먼지</h2>
</div>

<div class="body">
<ol>

<li>
<img src = "https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20160504_295%2Fzzlidde_1462360339348GT0M2_PNG%2F2016-05-04_20.11.40.png&type=a340" width=4%>
<span><font color = "green"><b>[네이버]</b> {{ result1 }}</font></span>
</li>

<li>
<img src = "https://search.pstatic.net/sunny/?src=https%3A%2F%2Fplay-lh.googleusercontent.com%2F1BNsSebKDyYn-UJMgvXrCqLpRRr5Z8qLJFK0NqtvTtMkFHiDvu70-K9F0FTg5jb6vDp4&type=a340" width=4%>
<span><font color = "blue"><b>[웨더아이]</b> {{ result2 }}</font></span>
</li>

<li>
<img src = "https://search.pstatic.net/sunny/?src=https%3A%2F%2Fi.namu.wiki%2Fi%2FMoRF2pQlfg0bQwSd0c7lALLaW2C31liTuP-AqeLYOQyAEHCRcFaJaIDe0GBJRifuDd9JHSSJQulAXPUPmz3LTg.webp&type=a340" width=5%>
<span><font color = "purple"><b>[충청북도 보건환경연구원]</b> {{ result3 }}</font></span>
</li>

</ol>
</div>
</body>

</html>