<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href= "{{url_for('static', filename='css/result.css')}}"rel="stylesheet">
    <link href="manual.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="manual.css">
    <title>아두이노 측정기 메뉴얼</title>
</head>
<body>
    <div class="header">
        <img class="logo" src = "https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Arduino_Logo_Registered.svg/1200px-Arduino_Logo_Registered.svg.png">
        <h2 class="city">아두이노 측정기 메뉴얼</h2>
    </div>
    <div class="title container">
      <div class="item">
        <strong class="descript">아두이노 회로도</strong>
        <img class= "circuit" src="https://private-user-images.githubusercontent.com/85469621/333589025-6da4062d-6d16-4bb5-b79f-a46e72bd3676.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTY3MDEyMzksIm5iZiI6MTcxNjcwMDkzOSwicGF0aCI6Ii84NTQ2OTYyMS8zMzM1ODkwMjUtNmRhNDA2MmQtNmQxNi00YmI1LWI3OWYtYTQ2ZTcyYmQzNjc2LnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDA1MjYlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwNTI2VDA1MjIxOVomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTFhYjhlZDY0ZGEyODcyMmQ2NGY3NjdlNjE3NTM0YmNhY2Y1MzZmNDY2MWI4Zjk4N2JlNTM4YTg2NDY1MDNjMzkmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0JmFjdG9yX2lkPTAma2V5X2lkPTAmcmVwb19pZD0wIn0.XUlrWBhQ-N1qMQvqR-WfkCeJnOTJDIIV8aTbkR9h8lg" width="30">
    </div>
    <div class="box container">
        <table class="item">
            <tr>
              <th>아두이노 우노 R3</th>
              <th>먼지센서 어댑터</th>
              <th>브레드보드</th>
            </tr>
            <tr>
              <td>D11</td>
              <td>LED</td>
              <td></td>
            </tr>
            <tr>
              <td>A0</td>
              <td>OUT</td>
              <td></td>
            </tr>
            <tr>
              <td>GND</td>
              <td>GND</td>
              <td></td>
            </tr>
            <tr>
              <td>5V</td>
              <td>VCC</td>
              <td></td>
            </tr>
            <tr>
              <td>GND</td>
              <td>-</td>
              <td>오른쪽</td>
            </tr>
            <tr>
              <td>5V</td>
              <td>-</td>
              <td>왼쪽</td>
            </tr>
            <tr>
              <td></td>
              <td>VCC</td>
              <td>왼쪽</td>
            </tr>
            <tr>
              <td></td>
              <td>GND</td>
              <td>오른쪽</td>
            </tr>
          </table>
    </div>

</body>
</html>
