<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>미세먼지 측정기</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body style="height: 600px;">
<div id = "headline">
  <h1 style="height: 71px;width: 500px;padding-left: 500px;">미세먼지 측정기</h1>
</div>

<div id = 'fullBackground'>
<div id ="grid">

  <div class="a">
    <div class ="BackGround">
    
      <a href="Danyang.html">
      <button id="dotButton_Danyang">
    </button>
      </a>
    
      <a href="Jecheon.html">
        <button id="dotButton_Jecheon">
      </button>
    </a>
    
    <a href="Chungju.html">
      <button id="dotButton_Chungju">
      </button>
    </a>
    
    <a href="Eumseong.html">
      <button id="dotButton_Eumseong">
      </button> 
      </a>
    
      <a href="Jincheon.html">
      <button id="dotButton_Jincheon">
      </button> 
    </a>
    
    <a href = "Goesan.html">
      <button id="dotButton_Goesan">
      </button>
    </a>
    
    <a href = "Jeungpyeong.html">
      <button id="dotButton_Jeungpyeong">
      </button>
    </a>
    
    <a href="Boeun.html">
      <button id="dotButton_Boeun">
      </button>
    </a>
    
    <a href="Okcheon.html">
      <button id="dotButton_Okcheon">
      </button>
    </a>
    
    <a href="Yeongdong.html"> 
      <button id="dotButton_Yeongdong">
      </button>
    </a>
      
      <a href="Cheongju.html">
        <button id="dotButton_Cheongju">
        </button>
      </a>
    <script src="script.js"></script>
    </div>
    <div class = "b"></div>
    <div class = "c"> </div></div>    
      
      
  <div class="d"><h3>미세먼지 행동요령</h3></div>    
  <div class="e"><h3>미세먼지 6단계</h3></div>    
  <div class="f"></div>    
 

</div>
</div>

</body>
</html>
