.intro_bg{
    background-image:url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyNDA0MThfMzYg%2FMDAxNzEzNDQ4MDE5NzQz.w5JRpH4vF7CfsDvR796WqH6TDLPFHJbcO9IF6FfmDcMg.rzzHYX8t2dmVZYEp07qr_qEqNM4-St8YDg-a3XfWxyEg.JPEG%2F%25B9%25CC%25BC%25BC%25B8%25D5%25C1%25F6.jpg&type=a340");
}

.header{
    display:flex; /*이미지, 글 가로배치*/
    width:1250px; /*헤더블록 넓이*/
    height:70px; /*헤더블록 높이*/
    margin:auto; /*헤더블록 가운데 맞춤*/
    line-height:30px; /*글자 높이*/
    background:blue;
}

